#jspsych-flexible-inference-btngroup{
  margin-top: 80%;
}

.flexible-inference-btn{
  display: none;
width: 90px;
height: 90px;
border-style: double;
background-color: white;

}

.flexible-inference-btn:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.square {
    width: 7%;
    height: 10%;
    background-color: white;
    border-style: solid;
    borderColor: black;
    position: absolute;
  }


#feedback-message{
  visibility: hidden;
}
  #next-button{
    visibility: hidden;
  }

  #x1{
    border-right-style: none;
  }

#x2{
  border-left-style: none;
}

#x3{
  border-right-style: none;
}

#x4{
border-left-style: none;
}


#y1{
  border-right-style: none;
}

#y2{
border-left-style: none;
}

#y3{
border-right-style: none;
}

#y4{
border-left-style: none;
}

  .y1_y1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y1_y1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y1_y1 {
    0%   {left:54%; top:42%;}
  100%   {left:54%; top:42%;}
  }
  .y2_y2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y2_y2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y2_y2 {
    0%   {left:60%; top:42%;}
  100%   {left:60%; top:42%;}
  }
  .y3_y3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y3_y3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y3_y3 {
    0%   {left:54%; top:54%;}
  100%   {left:54%; top:54%;}
  }
  .y4_y4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y4_y4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y4_y4 {
    0%   {left:60%; top:54%;}
  100%   {left:60%; top:54%;}
  }
  .y5_y5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y5_y5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y5_y5 {
    0%   {left:54%; top:36%;}
  100%   {left:54%; top:36%;}
  }
  .y6_y6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y6_y6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y6_y6 {
    0%   {left:60%; top:36%;}
  100%   {left:60%; top:36%;}
  }

  .x1_x1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x1_x1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x1_x1 {
    0%   {left:35%; top:42%;}
  100%   {left:35%; top:42%;}
  }
  .x2_x2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x2_x2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x2_x2 {
    0%   {left:41%; top:42%;}
  100%   {left:41%; top:42%;}
  }
  .x3_x3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x3_x3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x3_x3 {
    0%   {left:35%; top:54%;}
  100%   {left:35%; top:54%;}
  }
  .x4_x4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x4_x4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x4_x4 {
    0%   {left:41%; top:54%;}
  100%   {left:41%; top:54%;}
  }
  .x5_x5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x5_x5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x5_x5 {
    0%   {left:35%; top:36%;}
  100%   {left:35%; top:36%;}
  }
  .x6_x6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x6_x6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x6_x6 {
    0%   {left:41%; top:36%;}
  100%   {left:41%; top:36%;}
  }


  .y1_x1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y1_x1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y1_x1 {
    0%   {left:54%; top:42%;}
  100%  {left:35%; top:42%;}
  }
  .y1_x2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y1_x2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y1_x2 {
    0%   {left:54%; top:42%;}
  100%  {left:41%; top:42%;}
  }
  .y1_x3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y1_x3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y1_x3 {
    0%   {left:54%; top:42%;}
  100%  {left:35%; top:54%;}
  }
  .y1_x4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y1_x4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y1_x4 {
    0%   {left:54%; top:42%;}
  100%  {left:41%; top:54%;}
  }
  .y1_x5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y1_x5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y1_x5 {
    0%   {left:54%; top:42%;}
  100%  {left:35%; top:36%;}
  }
  .y1_x6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y1_x6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y1_x6 {
    0%   {left:54%; top:42%;}
  100%  {left:41%; top:36%;}
  }
  .y2_x1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y2_x1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y2_x1 {
    0%   {left:60%; top:42%;}
  100%  {left:35%; top:42%;}
  }
  .y2_x2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y2_x2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y2_x2 {
    0%   {left:60%; top:42%;}
  100%  {left:41%; top:42%;}
  }
  .y2_x3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y2_x3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y2_x3 {
    0%   {left:60%; top:42%;}
  100%  {left:35%; top:54%;}
  }
  .y2_x4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y2_x4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y2_x4 {
    0%   {left:60%; top:42%;}
  100%  {left:41%; top:54%;}
  }
  .y2_x5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y2_x5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y2_x5 {
    0%   {left:60%; top:42%;}
  100%  {left:35%; top:36%;}
  }
  .y2_x6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y2_x6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y2_x6 {
    0%   {left:60%; top:42%;}
  100%  {left:41%; top:36%;}
  }
  .y3_x1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y3_x1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y3_x1 {
    0%   {left:54%; top:54%;}
  100%  {left:35%; top:42%;}
  }
  .y3_x2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y3_x2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y3_x2 {
    0%   {left:54%; top:54%;}
  100%  {left:41%; top:42%;}
  }
  .y3_x3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y3_x3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y3_x3 {
    0%   {left:54%; top:54%;}
  100%  {left:35%; top:54%;}
  }
  .y3_x4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y3_x4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y3_x4 {
    0%   {left:54%; top:54%;}
  100%  {left:41%; top:54%;}
  }
  .y3_x5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y3_x5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y3_x5 {
    0%   {left:54%; top:54%;}
  100%  {left:35%; top:36%;}
  }
  .y3_x6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y3_x6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y3_x6 {
    0%   {left:54%; top:54%;}
  100%  {left:41%; top:36%;}
  }
  .y4_x1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y4_x1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y4_x1 {
    0%   {left:60%; top:54%;}
  100%  {left:35%; top:42%;}
  }
  .y4_x2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y4_x2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y4_x2 {
    0%   {left:60%; top:54%;}
  100%  {left:41%; top:42%;}
  }
  .y4_x3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y4_x3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y4_x3 {
    0%   {left:60%; top:54%;}
  100%  {left:35%; top:54%;}
  }
  .y4_x4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y4_x4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y4_x4 {
    0%   {left:60%; top:54%;}
  100%  {left:41%; top:54%;}
  }
  .y4_x5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y4_x5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y4_x5 {
    0%   {left:60%; top:54%;}
  100%  {left:35%; top:36%;}
  }
  .y4_x6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y4_x6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y4_x6 {
    0%   {left:60%; top:54%;}
  100%  {left:41%; top:36%;}
  }
  .y5_x1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y5_x1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y5_x1 {
    0%   {left:54%; top:36%;}
  100%  {left:35%; top:42%;}
  }
  .y5_x2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y5_x2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y5_x2 {
    0%   {left:54%; top:36%;}
  100%  {left:41%; top:42%;}
  }
  .y5_x3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y5_x3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y5_x3 {
    0%   {left:54%; top:36%;}
  100%  {left:35%; top:54%;}
  }
  .y5_x4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y5_x4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y5_x4 {
    0%   {left:54%; top:36%;}
  100%  {left:41%; top:54%;}
  }
  .y5_x5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y5_x5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y5_x5 {
    0%   {left:54%; top:36%;}
  100%  {left:35%; top:36%;}
  }
  .y5_x6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y5_x6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y5_x6 {
    0%   {left:54%; top:36%;}
  100%  {left:41%; top:36%;}
  }
  .y6_x1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y6_x1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y6_x1 {
    0%   {left:60%; top:36%;}
  100%  {left:35%; top:42%;}
  }
  .y6_x2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y6_x2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y6_x2 {
    0%   {left:60%; top:36%;}
  100%  {left:41%; top:42%;}
  }
  .y6_x3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y6_x3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y6_x3 {
    0%   {left:60%; top:36%;}
  100%  {left:35%; top:54%;}
  }
  .y6_x4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y6_x4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y6_x4 {
    0%   {left:60%; top:36%;}
  100%  {left:41%; top:54%;}
  }
  .y6_x5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y6_x5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y6_x5 {
    0%   {left:60%; top:36%;}
  100%  {left:35%; top:36%;}
  }
  .y6_x6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: y6_x6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes y6_x6 {
    0%   {left:60%; top:36%;}
  100%  {left:41%; top:36%;}
  }

  .x1_y1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x1_y1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x1_y1 {
    0%   {left:35%; top:42%;}
  100%  {left:54%; top:42%;}
  }
  .x2_y1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x2_y1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x2_y1 {
    0%   {left:41%; top:42%;}
  100%  {left:54%; top:42%;}
  }
  .x3_y1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x3_y1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x3_y1 {
    0%   {left:35%; top:54%;}
  100%  {left:54%; top:42%;}
  }
  .x4_y1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x4_y1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x4_y1 {
    0%   {left:41%; top:54%;}
  100%  {left:54%; top:42%;}
  }
  .x5_y1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x5_y1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x5_y1 {
    0%   {left:35%; top:36%;}
  100%  {left:54%; top:42%;}
  }
  .x6_y1 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x6_y1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x6_y1 {
    0%   {left:41%; top:36%;}
  100%  {left:54%; top:42%;}
  }
  .x1_y2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x1_y2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x1_y2 {
    0%   {left:35%; top:42%;}
  100%  {left:60%; top:42%;}
  }
  .x2_y2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x2_y2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x2_y2 {
    0%   {left:41%; top:42%;}
  100%  {left:60%; top:42%;}
  }
  .x3_y2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x3_y2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x3_y2 {
    0%   {left:35%; top:54%;}
  100%  {left:60%; top:42%;}
  }
  .x4_y2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x4_y2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x4_y2 {
    0%   {left:41%; top:54%;}
  100%  {left:60%; top:42%;}
  }
  .x5_y2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x5_y2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x5_y2 {
    0%   {left:35%; top:36%;}
  100%  {left:60%; top:42%;}
  }
  .x6_y2 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x6_y2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x6_y2 {
    0%   {left:41%; top:36%;}
  100%  {left:60%; top:42%;}
  }
  .x1_y3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x1_y3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x1_y3 {
    0%   {left:35%; top:42%;}
  100%  {left:54%; top:54%;}
  }
  .x2_y3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x2_y3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x2_y3 {
    0%   {left:41%; top:42%;}
  100%  {left:54%; top:54%;}
  }
  .x3_y3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x3_y3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x3_y3 {
    0%   {left:35%; top:54%;}
  100%  {left:54%; top:54%;}
  }
  .x4_y3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x4_y3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x4_y3 {
    0%   {left:41%; top:54%;}
  100%  {left:54%; top:54%;}
  }
  .x5_y3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x5_y3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x5_y3 {
    0%   {left:35%; top:36%;}
  100%  {left:54%; top:54%;}
  }
  .x6_y3 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x6_y3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x6_y3 {
    0%   {left:41%; top:36%;}
  100%  {left:54%; top:54%;}
  }
  .x1_y4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x1_y4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x1_y4 {
    0%   {left:35%; top:42%;}
  100%  {left:60%; top:54%;}
  }
  .x2_y4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x2_y4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x2_y4 {
    0%   {left:41%; top:42%;}
  100%  {left:60%; top:54%;}
  }
  .x3_y4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x3_y4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x3_y4 {
    0%   {left:35%; top:54%;}
  100%  {left:60%; top:54%;}
  }
  .x4_y4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x4_y4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x4_y4 {
    0%   {left:41%; top:54%;}
  100%  {left:60%; top:54%;}
  }
  .x5_y4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x5_y4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x5_y4 {
    0%   {left:35%; top:36%;}
  100%  {left:60%; top:54%;}
  }
  .x6_y4 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x6_y4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x6_y4 {
    0%   {left:41%; top:36%;}
  100%  {left:60%; top:54%;}
  }
  .x1_y5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x1_y5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x1_y5 {
    0%   {left:35%; top:42%;}
  100%  {left:54%; top:36%;}
  }
  .x2_y5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x2_y5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x2_y5 {
    0%   {left:41%; top:42%;}
  100%  {left:54%; top:36%;}
  }
  .x3_y5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x3_y5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x3_y5 {
    0%   {left:35%; top:54%;}
  100%  {left:54%; top:36%;}
  }
  .x4_y5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x4_y5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x4_y5 {
    0%   {left:41%; top:54%;}
  100%  {left:54%; top:36%;}
  }
  .x5_y5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x5_y5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x5_y5 {
    0%   {left:35%; top:36%;}
  100%  {left:54%; top:36%;}
  }
  .x6_y5 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x6_y5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x6_y5 {
    0%   {left:41%; top:36%;}
  100%  {left:54%; top:36%;}
  }
  .x1_y6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x1_y6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x1_y6 {
    0%   {left:35%; top:42%;}
  100%  {left:60%; top:36%;}
  }
  .x2_y6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x2_y6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x2_y6 {
    0%   {left:41%; top:42%;}
  100%  {left:60%; top:36%;}
  }
  .x3_y6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x3_y6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x3_y6 {
    0%   {left:35%; top:54%;}
  100%  {left:60%; top:36%;}
  }
  .x4_y6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x4_y6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x4_y6 {
    0%   {left:41%; top:54%;}
  100%  {left:60%; top:36%;}
  }
  .x5_y6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x5_y6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x5_y6 {
    0%   {left:35%; top:36%;}
  100%  {left:60%; top:36%;}
  }
  .x6_y6 {
    width: 6%;
    height: 6%;
    background-color: transparent;
    borderColor: black;
    position: absolute;
    animation-name: x6_y6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes x6_y6 {
    0%   {left:41%; top:36%;}
  100%  {left:60%; top:36%;}
  }
